﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5638 {
  position:absolute;
  left:0px;
  top:488px;
  width:1300px;
  height:2630px;
  overflow:hidden;
}
#u5638_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:2630px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:url('../../images/导航详情/u5638_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u5638_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5639 {
  position:absolute;
  left:0px;
  top:377px;
  width:1300px;
  height:111px;
  overflow:hidden;
}
#u5639_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:111px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u5639_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5640 {
  position:absolute;
  left:0px;
  top:188px;
  width:1300px;
  height:189px;
  overflow:hidden;
}
#u5640_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:189px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:url('../../images/专利导航分析/u5437_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u5640_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5641 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:36px;
  overflow:hidden;
}
#u5641_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u5641_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5642 {
  position:absolute;
  left:999px;
  top:11px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u5643 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u5644 {
  position:absolute;
  left:1035px;
  top:12px;
  width:1px;
  height:13px;
}
#u5645 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5646 {
  position:absolute;
  left:1051px;
  top:11px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u5647 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5648 {
  position:absolute;
  left:51px;
  top:11px;
  width:119px;
  height:14px;
  font-size:12px;
}
#u5649 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u5650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5650 {
  position:absolute;
  left:1124px;
  top:11px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u5651 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5652 {
  position:absolute;
  left:1189px;
  top:11px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u5653 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u5654 {
  position:absolute;
  left:1114px;
  top:12px;
  width:1px;
  height:13px;
}
#u5655 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u5656 {
  position:absolute;
  left:1180px;
  top:12px;
  width:1px;
  height:13px;
}
#u5657 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5658 {
  position:absolute;
  left:51px;
  top:52px;
  width:62px;
  height:62px;
  color:#FFFFFF;
}
#u5659 {
  position:absolute;
  left:2px;
  top:24px;
  width:58px;
  word-wrap:break-word;
}
#u5660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u5660 {
  position:absolute;
  left:121px;
  top:59px;
  width:111px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u5661 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u5662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u5662 {
  position:absolute;
  left:121px;
  top:87px;
  width:148px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u5663 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u5664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5664 {
  position:absolute;
  left:735px;
  top:76px;
  width:365px;
  height:40px;
}
#u5665 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5666 {
  position:absolute;
  left:1071px;
  top:89px;
  width:15px;
  height:15px;
}
#u5667 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u5668 {
  position:absolute;
  left:758px;
  top:86px;
  width:124px;
  height:20px;
  color:#C9C9C9;
}
#u5669 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u5670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4FACF2;
}
#u5670 {
  position:absolute;
  left:760px;
  top:51px;
  width:30px;
  height:18px;
  color:#4FACF2;
}
#u5671 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:2px;
}
#u5672 {
  position:absolute;
  left:758px;
  top:72px;
  width:30px;
  height:1px;
}
#u5673 {
  position:absolute;
  left:2px;
  top:-8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5674 {
  position:absolute;
  left:810px;
  top:51px;
  width:59px;
  height:18px;
}
#u5675 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5676 {
  position:absolute;
  left:888px;
  top:51px;
  width:30px;
  height:18px;
}
#u5677 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5678 {
  position:absolute;
  left:937px;
  top:51px;
  width:30px;
  height:18px;
}
#u5679 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5680 {
  position:absolute;
  left:987px;
  top:51px;
  width:30px;
  height:18px;
}
#u5681 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5682 {
  position:absolute;
  left:0px;
  top:3118px;
  width:1300px;
  height:280px;
  overflow:hidden;
}
#u5682_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:280px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
}
#u5682_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:280px;
}
#u5683 {
  position:absolute;
  left:50px;
  top:3118px;
  width:1200px;
  height:280px;
}
#u5684 {
  position:absolute;
  left:2px;
  top:132px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5685 {
  position:absolute;
  left:235px;
  top:223px;
  width:185px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5686 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u5687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:2553px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u5687 {
  position:absolute;
  left:51px;
  top:513px;
  width:1187px;
  height:2553px;
}
#u5688 {
  position:absolute;
  left:2px;
  top:1268px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:330px;
}
#u5689 {
  position:absolute;
  left:189px;
  top:656px;
  width:873px;
  height:330px;
}
#u5690 {
  position:absolute;
  left:2px;
  top:157px;
  width:869px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5691 {
  position:absolute;
  left:103px;
  top:552px;
  width:59px;
  height:18px;
}
#u5692 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5693 {
  position:absolute;
  left:1114px;
  top:266px;
  width:124px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u5694 {
  position:absolute;
  left:2px;
  top:6px;
  width:120px;
  word-wrap:break-word;
}
#u5695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5695 {
  position:absolute;
  left:548px;
  top:614px;
  width:71px;
  height:32px;
}
#u5696 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u5697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5697 {
  position:absolute;
  left:619px;
  top:614px;
  width:71px;
  height:32px;
}
#u5698 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u5699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1188px;
  height:2px;
}
#u5699 {
  position:absolute;
  left:51px;
  top:1010px;
  width:1187px;
  height:1px;
}
#u5700 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5701 {
  position:absolute;
  left:103px;
  top:1036px;
  width:131px;
  height:18px;
}
#u5702 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:353px;
}
#u5703 {
  position:absolute;
  left:261px;
  top:1112px;
  width:766px;
  height:353px;
}
#u5704 {
  position:absolute;
  left:2px;
  top:168px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:107px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u5705 {
  position:absolute;
  left:87px;
  top:1373px;
  width:373px;
  height:107px;
  font-size:16px;
  color:#FFFFFF;
}
#u5706 {
  position:absolute;
  left:10px;
  top:10px;
  width:353px;
  word-wrap:break-word;
}
#u5707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1188px;
  height:2px;
}
#u5707 {
  position:absolute;
  left:51px;
  top:1517px;
  width:1187px;
  height:1px;
}
#u5708 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5709 {
  position:absolute;
  left:103px;
  top:1550px;
  width:73px;
  height:18px;
}
#u5710 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:823px;
  height:520px;
}
#u5711 {
  position:absolute;
  left:239px;
  top:1611px;
  width:823px;
  height:520px;
}
#u5712 {
  position:absolute;
  left:2px;
  top:252px;
  width:819px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:168px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u5713 {
  position:absolute;
  left:696px;
  top:1819px;
  width:506px;
  height:168px;
  font-size:16px;
  color:#FFFFFF;
}
#u5714 {
  position:absolute;
  left:10px;
  top:10px;
  width:486px;
  word-wrap:break-word;
}
#u5715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5715 {
  position:absolute;
  left:548px;
  top:1583px;
  width:71px;
  height:32px;
}
#u5716 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u5717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5717 {
  position:absolute;
  left:619px;
  top:1583px;
  width:71px;
  height:32px;
}
#u5718 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u5719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1188px;
  height:2px;
}
#u5719 {
  position:absolute;
  left:51px;
  top:2141px;
  width:1187px;
  height:1px;
}
#u5720 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5721 {
  position:absolute;
  left:105px;
  top:2158px;
  width:87px;
  height:18px;
}
#u5722 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:565px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5723 {
  position:absolute;
  left:304px;
  top:2232px;
  width:685px;
  height:565px;
}
#u5724 {
  position:absolute;
  left:2px;
  top:274px;
  width:681px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5725 {
  position:absolute;
  left:304px;
  top:2263px;
  width:616px;
  height:27px;
}
#u5726 {
  position:absolute;
  left:2px;
  top:6px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5727 {
  position:absolute;
  left:304px;
  top:2321px;
  width:428px;
  height:27px;
}
#u5728 {
  position:absolute;
  left:2px;
  top:6px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5729 {
  position:absolute;
  left:304px;
  top:2379px;
  width:356px;
  height:27px;
}
#u5730 {
  position:absolute;
  left:2px;
  top:6px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5731 {
  position:absolute;
  left:304px;
  top:2437px;
  width:306px;
  height:27px;
}
#u5732 {
  position:absolute;
  left:2px;
  top:6px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5733 {
  position:absolute;
  left:304px;
  top:2495px;
  width:293px;
  height:27px;
}
#u5734 {
  position:absolute;
  left:2px;
  top:6px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5735 {
  position:absolute;
  left:304px;
  top:2611px;
  width:232px;
  height:27px;
}
#u5736 {
  position:absolute;
  left:2px;
  top:6px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5737 {
  position:absolute;
  left:304px;
  top:2553px;
  width:263px;
  height:27px;
}
#u5738 {
  position:absolute;
  left:2px;
  top:6px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5739 {
  position:absolute;
  left:304px;
  top:2669px;
  width:212px;
  height:27px;
}
#u5740 {
  position:absolute;
  left:2px;
  top:6px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5741 {
  position:absolute;
  left:304px;
  top:2727px;
  width:177px;
  height:27px;
}
#u5742 {
  position:absolute;
  left:2px;
  top:6px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5743 {
  position:absolute;
  left:241px;
  top:2268px;
  width:30px;
  height:18px;
}
#u5744 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5745 {
  position:absolute;
  left:241px;
  top:2326px;
  width:30px;
  height:18px;
}
#u5746 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5747 {
  position:absolute;
  left:241px;
  top:2384px;
  width:30px;
  height:18px;
}
#u5748 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5749 {
  position:absolute;
  left:241px;
  top:2442px;
  width:30px;
  height:18px;
}
#u5750 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5751 {
  position:absolute;
  left:241px;
  top:2500px;
  width:30px;
  height:18px;
}
#u5752 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5753 {
  position:absolute;
  left:241px;
  top:2558px;
  width:27px;
  height:18px;
}
#u5754 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u5755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5755 {
  position:absolute;
  left:241px;
  top:2616px;
  width:27px;
  height:18px;
}
#u5756 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u5757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5757 {
  position:absolute;
  left:241px;
  top:2674px;
  width:27px;
  height:18px;
}
#u5758 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u5759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5759 {
  position:absolute;
  left:241px;
  top:2732px;
  width:27px;
  height:18px;
}
#u5760 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u5761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5761 {
  position:absolute;
  left:336px;
  top:2196px;
  width:25px;
  height:18px;
}
#u5762 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5763 {
  position:absolute;
  left:418px;
  top:2196px;
  width:25px;
  height:18px;
}
#u5764 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5765 {
  position:absolute;
  left:499px;
  top:2196px;
  width:25px;
  height:18px;
}
#u5766 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5767 {
  position:absolute;
  left:581px;
  top:2196px;
  width:25px;
  height:18px;
}
#u5768 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5769 {
  position:absolute;
  left:662px;
  top:2196px;
  width:25px;
  height:18px;
}
#u5770 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5771 {
  position:absolute;
  left:744px;
  top:2196px;
  width:25px;
  height:18px;
}
#u5772 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5773 {
  position:absolute;
  left:825px;
  top:2196px;
  width:25px;
  height:18px;
}
#u5774 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5775 {
  position:absolute;
  left:907px;
  top:2196px;
  width:25px;
  height:18px;
}
#u5776 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5777 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5778_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:130px;
  height:130px;
}
#u5778 {
  position:absolute;
  left:68px;
  top:223px;
  width:120px;
  height:120px;
}
#u5779 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5780 {
  position:absolute;
  left:66px;
  top:276px;
  width:116px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5781 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u5782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5782 {
  position:absolute;
  left:235px;
  top:260px;
  width:127px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u5783 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u5784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5784 {
  position:absolute;
  left:235px;
  top:298px;
  width:281px;
  height:41px;
  font-size:12px;
  color:#FFFFFF;
}
#u5785 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u5786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5786 {
  position:absolute;
  left:107px;
  top:403px;
  width:59px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5787 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5788 {
  position:absolute;
  left:107px;
  top:444px;
  width:59px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5789 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:30px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5790 {
  position:absolute;
  left:74px;
  top:397px;
  width:8px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u5791 {
  position:absolute;
  left:2px;
  top:7px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:30px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5792 {
  position:absolute;
  left:74px;
  top:439px;
  width:8px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u5793 {
  position:absolute;
  left:2px;
  top:7px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:33px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5794 {
  position:absolute;
  left:216px;
  top:397px;
  width:68px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u5795 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:33px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5796 {
  position:absolute;
  left:216px;
  top:438px;
  width:68px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u5797 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5798 {
  position:absolute;
  left:304px;
  top:404px;
  width:30px;
  height:18px;
}
#u5799 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5800 {
  position:absolute;
  left:367px;
  top:404px;
  width:59px;
  height:18px;
}
#u5801 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5802 {
  position:absolute;
  left:460px;
  top:404px;
  width:59px;
  height:18px;
}
#u5803 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5804 {
  position:absolute;
  left:552px;
  top:404px;
  width:59px;
  height:18px;
}
#u5805 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5806 {
  position:absolute;
  left:304px;
  top:445px;
  width:59px;
  height:18px;
}
#u5807 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5808 {
  position:absolute;
  left:385px;
  top:445px;
  width:59px;
  height:18px;
}
#u5809 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5810 {
  position:absolute;
  left:467px;
  top:445px;
  width:59px;
  height:18px;
}
#u5811 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5812 {
  position:absolute;
  left:548px;
  top:445px;
  width:59px;
  height:18px;
}
#u5813 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5814 {
  position:absolute;
  left:630px;
  top:445px;
  width:44px;
  height:18px;
}
#u5815 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5816 {
  position:absolute;
  left:696px;
  top:445px;
  width:59px;
  height:18px;
}
#u5817 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5818 {
  position:absolute;
  left:235px;
  top:404px;
  width:30px;
  height:18px;
  color:#FFFFFF;
}
#u5819 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5820 {
  position:absolute;
  left:235px;
  top:445px;
  width:30px;
  height:18px;
  color:#FFFFFF;
}
#u5821 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:107px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u5822 {
  position:absolute;
  left:816px;
  top:387px;
  width:373px;
  height:107px;
  font-size:16px;
  color:#FFFFFF;
}
#u5823 {
  position:absolute;
  left:10px;
  top:10px;
  width:353px;
  word-wrap:break-word;
}
#u5824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:107px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u5824 {
  position:absolute;
  left:816px;
  top:562px;
  width:373px;
  height:107px;
  font-size:16px;
  color:#FFFFFF;
}
#u5825 {
  position:absolute;
  left:10px;
  top:10px;
  width:353px;
  word-wrap:break-word;
}
#u5826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:217px;
}
#u5826 {
  position:absolute;
  left:744px;
  top:706px;
  width:223px;
  height:217px;
}
#u5827 {
  position:absolute;
  left:2px;
  top:100px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:107px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u5828 {
  position:absolute;
  left:967px;
  top:761px;
  width:263px;
  height:107px;
  font-size:16px;
  color:#FFFFFF;
}
#u5829 {
  position:absolute;
  left:10px;
  top:10px;
  width:243px;
  word-wrap:break-word;
}
#u5830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:107px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u5830 {
  position:absolute;
  left:810px;
  top:1400px;
  width:373px;
  height:107px;
  font-size:16px;
  color:#FFFFFF;
}
#u5831 {
  position:absolute;
  left:10px;
  top:10px;
  width:353px;
  word-wrap:break-word;
}
#u5832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:168px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u5832 {
  position:absolute;
  left:696px;
  top:2442px;
  width:506px;
  height:168px;
  font-size:16px;
  color:#FFFFFF;
}
#u5833 {
  position:absolute;
  left:10px;
  top:10px;
  width:486px;
  word-wrap:break-word;
}
#u5834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u5834 {
  position:absolute;
  left:327px;
  top:72px;
  width:97px;
  height:29px;
  font-size:24px;
  color:#666666;
}
#u5835 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5836 {
  position:absolute;
  left:0px;
  top:128px;
}
#u5836_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5836_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5837 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  overflow:hidden;
}
#u5837_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u5837_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u5838 {
  position:absolute;
  left:50px;
  top:0px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u5838_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u5838.mouseOver {
}
#u5839 {
  position:absolute;
  left:2px;
  top:19px;
  width:136px;
  word-wrap:break-word;
}
#u5840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u5840 {
  position:absolute;
  left:470px;
  top:0px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u5840_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u5840.mouseOver {
}
#u5841 {
  position:absolute;
  left:2px;
  top:19px;
  width:136px;
  word-wrap:break-word;
}
#u5842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u5842 {
  position:absolute;
  left:190px;
  top:0px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u5842_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u5842.mouseOver {
}
#u5843 {
  position:absolute;
  left:2px;
  top:19px;
  width:136px;
  word-wrap:break-word;
}
#u5844_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:143px;
  height:5px;
}
#u5844 {
  position:absolute;
  left:330px;
  top:57px;
  width:140px;
  height:2px;
}
#u5845 {
  position:absolute;
  left:2px;
  top:-7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#4FACF2;
}
#u5846 {
  position:absolute;
  left:330px;
  top:0px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#4FACF2;
}
#u5846_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#4FACF2;
}
#u5846.mouseOver {
}
#u5847 {
  position:absolute;
  left:2px;
  top:19px;
  width:136px;
  word-wrap:break-word;
}
