﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1228px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:737px;
}
#u3471 {
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:737px;
}
#u3472 {
  position:absolute;
  left:2px;
  top:360px;
  width:1224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:150px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3473 {
  position:absolute;
  left:90px;
  top:350px;
  width:1130px;
  height:150px;
}
#u3474 {
  position:absolute;
  left:10px;
  top:10px;
  width:1110px;
  word-wrap:break-word;
}
