﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16754 {
  position:absolute;
  left:0px;
  top:559px;
  width:1300px;
  height:525px;
  overflow:hidden;
}
#u16754_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:525px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:url('../../images/导航详情/u5638_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u16754_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16755 {
  position:absolute;
  left:0px;
  top:559px;
  width:1300px;
  height:66px;
  overflow:hidden;
}
#u16755_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:66px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u16755_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16756 {
  position:absolute;
  left:0px;
  top:188px;
  width:1300px;
  height:371px;
  overflow:hidden;
}
#u16756_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:371px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:url('../../images/专利导航分析/u5437_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u16756_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16757 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:36px;
  overflow:hidden;
}
#u16757_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u16757_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u16758 {
  position:absolute;
  left:999px;
  top:11px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u16759 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u16760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u16760 {
  position:absolute;
  left:1035px;
  top:12px;
  width:1px;
  height:13px;
}
#u16761 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u16762 {
  position:absolute;
  left:1051px;
  top:11px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u16763 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u16764 {
  position:absolute;
  left:51px;
  top:11px;
  width:119px;
  height:14px;
  font-size:12px;
}
#u16765 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u16766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u16766 {
  position:absolute;
  left:1124px;
  top:11px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u16767 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u16768 {
  position:absolute;
  left:1189px;
  top:11px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u16769 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u16770 {
  position:absolute;
  left:1114px;
  top:12px;
  width:1px;
  height:13px;
}
#u16771 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u16772 {
  position:absolute;
  left:1180px;
  top:12px;
  width:1px;
  height:13px;
}
#u16773 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16774 {
  position:absolute;
  left:51px;
  top:52px;
  width:62px;
  height:62px;
  color:#FFFFFF;
}
#u16775 {
  position:absolute;
  left:2px;
  top:24px;
  width:58px;
  word-wrap:break-word;
}
#u16776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u16776 {
  position:absolute;
  left:121px;
  top:59px;
  width:111px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u16777 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u16778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u16778 {
  position:absolute;
  left:121px;
  top:87px;
  width:148px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u16779 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u16780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u16780 {
  position:absolute;
  left:307px;
  top:69px;
  width:71px;
  height:29px;
  font-size:24px;
  color:#666666;
}
#u16781 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u16782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16782 {
  position:absolute;
  left:735px;
  top:76px;
  width:365px;
  height:40px;
}
#u16783 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u16784 {
  position:absolute;
  left:1071px;
  top:89px;
  width:15px;
  height:15px;
}
#u16785 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u16786 {
  position:absolute;
  left:758px;
  top:86px;
  width:124px;
  height:20px;
  color:#C9C9C9;
}
#u16787 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u16788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4FACF2;
}
#u16788 {
  position:absolute;
  left:760px;
  top:51px;
  width:30px;
  height:18px;
  color:#4FACF2;
}
#u16789 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:2px;
}
#u16790 {
  position:absolute;
  left:758px;
  top:72px;
  width:30px;
  height:1px;
}
#u16791 {
  position:absolute;
  left:2px;
  top:-8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16792 {
  position:absolute;
  left:810px;
  top:51px;
  width:59px;
  height:18px;
}
#u16793 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16794 {
  position:absolute;
  left:888px;
  top:51px;
  width:30px;
  height:18px;
}
#u16795 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16796 {
  position:absolute;
  left:937px;
  top:51px;
  width:30px;
  height:18px;
}
#u16797 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16798 {
  position:absolute;
  left:987px;
  top:51px;
  width:30px;
  height:18px;
}
#u16799 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16800 {
  position:absolute;
  left:0px;
  top:1084px;
  width:1300px;
  height:280px;
  overflow:hidden;
}
#u16800_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:280px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
}
#u16800_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:280px;
}
#u16801 {
  position:absolute;
  left:50px;
  top:1084px;
  width:1200px;
  height:280px;
}
#u16802 {
  position:absolute;
  left:2px;
  top:132px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16803 {
  position:absolute;
  left:0px;
  top:127px;
}
#u16803_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u16803_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16804 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  overflow:hidden;
}
#u16804_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u16804_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u16805 {
  position:absolute;
  left:50px;
  top:0px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u16805_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u16805.mouseOver {
}
#u16806 {
  position:absolute;
  left:2px;
  top:19px;
  width:136px;
  word-wrap:break-word;
}
#u16807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u16807 {
  position:absolute;
  left:190px;
  top:0px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u16807_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u16807.mouseOver {
}
#u16808 {
  position:absolute;
  left:2px;
  top:19px;
  width:136px;
  word-wrap:break-word;
}
#u16809 {
  position:absolute;
  left:694px;
  top:216px;
  width:407px;
  height:39px;
}
#u16809_input {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:39px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u16810 {
  position:absolute;
  left:51px;
  top:224px;
  width:222px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u16811 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u16812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:261px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16812 {
  position:absolute;
  left:51px;
  top:273px;
  width:1187px;
  height:261px;
}
#u16813 {
  position:absolute;
  left:2px;
  top:122px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16814 {
  position:absolute;
  left:83px;
  top:297px;
  width:87px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16815 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u16816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:424px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16816 {
  position:absolute;
  left:51px;
  top:625px;
  width:1187px;
  height:424px;
}
#u16817 {
  position:absolute;
  left:2px;
  top:204px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16818 {
  position:absolute;
  left:253px;
  top:585px;
  width:102px;
  height:18px;
}
#u16819 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u16820 {
  position:absolute;
  left:73px;
  top:354px;
}
#u16820_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u16820_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16821 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:127px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16822 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:127px;
}
#u16823 {
  position:absolute;
  left:2px;
  top:56px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16824 {
  position:absolute;
  left:16px;
  top:11px;
  width:87px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16825 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u16826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16826 {
  position:absolute;
  left:87px;
  top:53px;
  width:53px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16827 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u16828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:127px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16829 {
  position:absolute;
  left:261px;
  top:0px;
  width:233px;
  height:127px;
}
#u16830 {
  position:absolute;
  left:2px;
  top:56px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16831 {
  position:absolute;
  left:277px;
  top:11px;
  width:87px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16832 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u16833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16833 {
  position:absolute;
  left:356px;
  top:53px;
  width:43px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16834 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u16835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16835 {
  position:absolute;
  left:590px;
  top:11px;
  width:68px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16836 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u16837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16837 {
  position:absolute;
  left:590px;
  top:42px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16838 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16839 {
  position:absolute;
  left:590px;
  top:72px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16840 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16841 {
  position:absolute;
  left:590px;
  top:102px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16842 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16843 {
  position:absolute;
  left:934px;
  top:11px;
  width:45px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16844 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u16845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16845 {
  position:absolute;
  left:1013px;
  top:11px;
  width:57px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16846 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u16847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16847 {
  position:absolute;
  left:938px;
  top:42px;
  width:27px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16848 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16849 {
  position:absolute;
  left:938px;
  top:72px;
  width:27px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16850 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16851 {
  position:absolute;
  left:938px;
  top:102px;
  width:27px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16852 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16853 {
  position:absolute;
  left:1011px;
  top:42px;
  width:40px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16854 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u16855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16855 {
  position:absolute;
  left:1011px;
  top:72px;
  width:40px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16856 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u16857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16857 {
  position:absolute;
  left:1011px;
  top:102px;
  width:40px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16858 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u16859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:218px;
  background:-webkit-linear-gradient(270deg, rgba(255, 102, 102, 1) 0%, rgba(255, 102, 102, 1) 0%, rgba(255, 204, 204, 1) 100%, rgba(255, 204, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 102, 102, 1) 0%, rgba(255, 102, 102, 1) 0%, rgba(255, 204, 204, 1) 100%, rgba(255, 204, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 102, 102, 1) 0%, rgba(255, 102, 102, 1) 0%, rgba(255, 204, 204, 1) 100%, rgba(255, 204, 204, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u16859 {
  position:absolute;
  left:786px;
  top:-59px;
  width:21px;
  height:218px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:12px;
  color:#CCCCCC;
}
#u16860 {
  position:absolute;
  left:2px;
  top:101px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:142px;
  background:-webkit-linear-gradient(270deg, rgba(0, 102, 204, 1) 0%, rgba(0, 102, 204, 1) 0%, rgba(0, 153, 255, 1) 100%, rgba(0, 153, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 102, 204, 1) 0%, rgba(0, 102, 204, 1) 0%, rgba(0, 153, 255, 1) 100%, rgba(0, 153, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 102, 204, 1) 0%, rgba(0, 102, 204, 1) 0%, rgba(0, 153, 255, 1) 100%, rgba(0, 153, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u16861 {
  position:absolute;
  left:749px;
  top:8px;
  width:21px;
  height:142px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:12px;
  color:#CCCCCC;
}
#u16862 {
  position:absolute;
  left:2px;
  top:63px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:122px;
  background:-webkit-linear-gradient(270deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(51, 255, 255, 1) 100%, rgba(51, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(51, 255, 255, 1) 100%, rgba(51, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(51, 255, 255, 1) 100%, rgba(51, 255, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u16863 {
  position:absolute;
  left:739px;
  top:48px;
  width:21px;
  height:122px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:12px;
  color:#CCCCCC;
}
#u16864 {
  position:absolute;
  left:2px;
  top:53px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:12px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u16865 {
  position:absolute;
  left:0px;
  top:115px;
  width:227px;
  height:12px;
  font-size:14px;
  color:#FFFFFF;
}
#u16866 {
  position:absolute;
  left:2px;
  top:-2px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16820_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u16820_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16867 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:127px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16868 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:127px;
}
#u16869 {
  position:absolute;
  left:2px;
  top:56px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16870 {
  position:absolute;
  left:16px;
  top:11px;
  width:87px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16871 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u16872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16872 {
  position:absolute;
  left:87px;
  top:53px;
  width:53px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16873 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u16874 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:127px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16875 {
  position:absolute;
  left:261px;
  top:0px;
  width:233px;
  height:127px;
}
#u16876 {
  position:absolute;
  left:2px;
  top:56px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16877 {
  position:absolute;
  left:277px;
  top:11px;
  width:87px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16878 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u16879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16879 {
  position:absolute;
  left:356px;
  top:53px;
  width:43px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16880 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u16881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16881 {
  position:absolute;
  left:590px;
  top:11px;
  width:68px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16882 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u16883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16883 {
  position:absolute;
  left:590px;
  top:42px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16884 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16885 {
  position:absolute;
  left:590px;
  top:72px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16886 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16887 {
  position:absolute;
  left:590px;
  top:102px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16888 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16889 {
  position:absolute;
  left:934px;
  top:11px;
  width:45px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16890 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u16891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16891 {
  position:absolute;
  left:1013px;
  top:11px;
  width:57px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16892 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u16893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16893 {
  position:absolute;
  left:938px;
  top:42px;
  width:27px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16894 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16895 {
  position:absolute;
  left:938px;
  top:72px;
  width:27px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16896 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16897 {
  position:absolute;
  left:938px;
  top:102px;
  width:20px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16898 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u16899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16899 {
  position:absolute;
  left:1011px;
  top:42px;
  width:40px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16900 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u16901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16901 {
  position:absolute;
  left:1011px;
  top:72px;
  width:40px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16902 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u16903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u16903 {
  position:absolute;
  left:1011px;
  top:102px;
  width:40px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u16904 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u16905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:218px;
  background:-webkit-linear-gradient(270deg, rgba(255, 102, 102, 1) 0%, rgba(255, 102, 102, 1) 0%, rgba(255, 204, 204, 1) 100%, rgba(255, 204, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 102, 102, 1) 0%, rgba(255, 102, 102, 1) 0%, rgba(255, 204, 204, 1) 100%, rgba(255, 204, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 102, 102, 1) 0%, rgba(255, 102, 102, 1) 0%, rgba(255, 204, 204, 1) 100%, rgba(255, 204, 204, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u16905 {
  position:absolute;
  left:786px;
  top:-59px;
  width:21px;
  height:218px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:12px;
  color:#CCCCCC;
}
#u16906 {
  position:absolute;
  left:2px;
  top:101px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:100px;
  background:-webkit-linear-gradient(270deg, rgba(0, 102, 204, 1) 0%, rgba(0, 102, 204, 1) 0%, rgba(0, 153, 255, 1) 100%, rgba(0, 153, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 102, 204, 1) 0%, rgba(0, 102, 204, 1) 0%, rgba(0, 153, 255, 1) 100%, rgba(0, 153, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 102, 204, 1) 0%, rgba(0, 102, 204, 1) 0%, rgba(0, 153, 255, 1) 100%, rgba(0, 153, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u16907 {
  position:absolute;
  left:728px;
  top:29px;
  width:21px;
  height:100px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:12px;
  color:#CCCCCC;
}
#u16908 {
  position:absolute;
  left:2px;
  top:42px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(51, 255, 255, 1) 100%, rgba(51, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(51, 255, 255, 1) 100%, rgba(51, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(51, 255, 255, 1) 100%, rgba(51, 255, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u16909 {
  position:absolute;
  left:703px;
  top:84px;
  width:21px;
  height:50px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:12px;
  color:#CCCCCC;
}
#u16910 {
  position:absolute;
  left:2px;
  top:17px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:12px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u16911 {
  position:absolute;
  left:261px;
  top:115px;
  width:233px;
  height:12px;
  font-size:14px;
  color:#FFFFFF;
}
#u16912 {
  position:absolute;
  left:2px;
  top:-2px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16913 {
  position:absolute;
  left:73px;
  top:498px;
  width:59px;
  height:18px;
}
#u16914 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16915 {
  position:absolute;
  left:165px;
  top:738px;
  width:59px;
  height:18px;
}
#u16916 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u16917 {
  position:absolute;
  left:1087px;
  top:771px;
  width:51px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u16918 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u16919 {
  position:absolute;
  left:918px;
  top:771px;
  width:30px;
  height:18px;
  color:#666666;
}
#u16920 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u16921 {
  position:absolute;
  left:1002px;
  top:771px;
  width:25px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u16922 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u16923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u16923 {
  position:absolute;
  left:1087px;
  top:814px;
  width:51px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u16924 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u16925 {
  position:absolute;
  left:918px;
  top:814px;
  width:30px;
  height:18px;
  color:#666666;
}
#u16926 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u16927 {
  position:absolute;
  left:1002px;
  top:814px;
  width:33px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u16928 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u16929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u16929 {
  position:absolute;
  left:1087px;
  top:862px;
  width:51px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u16930 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u16931 {
  position:absolute;
  left:918px;
  top:862px;
  width:30px;
  height:18px;
  color:#666666;
}
#u16932 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u16933 {
  position:absolute;
  left:1002px;
  top:862px;
  width:25px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u16934 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u16935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16935 {
  position:absolute;
  left:438px;
  top:585px;
  width:87px;
  height:18px;
}
#u16936 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u16937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:33px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u16937 {
  position:absolute;
  left:68px;
  top:578px;
  width:117px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u16938 {
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16939 {
  position:absolute;
  left:83px;
  top:585px;
  width:87px;
  height:18px;
  color:#FFFFFF;
}
#u16940 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u16941 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:260px;
}
#u16942 {
  position:absolute;
  left:515px;
  top:695px;
  width:260px;
  height:260px;
}
#u16943 {
  position:absolute;
  left:2px;
  top:111px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:260px;
}
#u16944 {
  position:absolute;
  left:515px;
  top:695px;
  width:260px;
  height:260px;
}
#u16945 {
  position:absolute;
  left:60px;
  top:187px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:260px;
}
#u16946 {
  position:absolute;
  left:515px;
  top:695px;
  width:260px;
  height:260px;
}
#u16947 {
  position:absolute;
  left:132px;
  top:96px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:175px;
}
#u16948 {
  position:absolute;
  left:558px;
  top:738px;
  width:175px;
  height:175px;
}
#u16949 {
  position:absolute;
  left:2px;
  top:80px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#2F72D1;
}
#u16950 {
  position:absolute;
  left:602px;
  top:811px;
  width:93px;
  height:29px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#2F72D1;
}
#u16951 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u16952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16952 {
  position:absolute;
  left:165px;
  top:783px;
  width:59px;
  height:18px;
}
#u16953 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16954 {
  position:absolute;
  left:165px;
  top:827px;
  width:59px;
  height:18px;
}
#u16955 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16956 {
  position:absolute;
  left:165px;
  top:872px;
  width:59px;
  height:18px;
}
#u16957 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:6px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u16958 {
  position:absolute;
  left:158px;
  top:756px;
  width:74px;
  height:6px;
  font-size:14px;
  color:#FFFFFF;
}
#u16959 {
  position:absolute;
  left:2px;
  top:-5px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:39px;
  background:inherit;
  background-color:rgba(47, 114, 209, 1);
  border:none;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16961 {
  position:absolute;
  left:1101px;
  top:216px;
  width:137px;
  height:39px;
  color:#FFFFFF;
}
#u16962 {
  position:absolute;
  left:2px;
  top:12px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16963 {
  position:absolute;
  left:1159px;
  top:225px;
  width:22px;
  height:22px;
}
#u16964 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16965 {
  position:absolute;
  left:608px;
  top:585px;
  width:87px;
  height:18px;
}
#u16966 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u16967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16967 {
  position:absolute;
  left:766px;
  top:585px;
  width:116px;
  height:18px;
}
#u16968 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u16969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:35px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u16969 {
  position:absolute;
  left:863px;
  top:292px;
  width:162px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u16970 {
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
#u16971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:35px;
  background:inherit;
  background-color:rgba(47, 114, 209, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u16971 {
  position:absolute;
  left:1035px;
  top:292px;
  width:162px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u16972 {
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
#u16973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:28px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u16975 {
  position:absolute;
  left:289px;
  top:220px;
  width:196px;
  height:28px;
  font-size:14px;
  color:#FFFFFF;
}
#u16976 {
  position:absolute;
  left:2px;
  top:6px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16977 {
  position:absolute;
  left:305px;
  top:226px;
  width:128px;
  height:18px;
  color:#FFFFFF;
}
#u16978 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u16979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u16979 {
  position:absolute;
  left:452px;
  top:226px;
  width:18px;
  height:18px;
}
#u16980 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:359px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u16981 {
  position:absolute;
  left:180px;
  top:147px;
  width:589px;
  height:359px;
  font-size:14px;
  color:#FFFFFF;
}
#u16982 {
  position:absolute;
  left:2px;
  top:40px;
  width:585px;
  word-wrap:break-word;
}
#u16983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:268px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u16983 {
  position:absolute;
  left:68px;
  top:1006px;
  width:645px;
  height:268px;
  color:#FFFFFF;
}
#u16984 {
  position:absolute;
  left:10px;
  top:10px;
  width:625px;
  word-wrap:break-word;
}
