﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1364px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:379px;
}
#u24 {
  position:absolute;
  left:0px;
  top:590px;
  width:1364px;
  height:379px;
}
#u25 {
  position:absolute;
  left:2px;
  top:182px;
  width:1360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:490px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:490px;
}
#u27 {
  position:absolute;
  left:2px;
  top:237px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:302px;
}
#u28 {
  position:absolute;
  left:400px;
  top:460px;
  width:5px;
  height:290px;
}
#u29 {
  position:absolute;
  left:2px;
  top:137px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
