﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1271px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  height:647px;
}
#u16985 {
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  height:647px;
}
#u16986 {
  position:absolute;
  left:2px;
  top:316px;
  width:1271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:477px;
}
#u16987 {
  position:absolute;
  left:-3px;
  top:629px;
  width:1279px;
  height:477px;
}
#u16988 {
  position:absolute;
  left:2px;
  top:230px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:891px;
}
#u16989 {
  position:absolute;
  left:50px;
  top:1150px;
  width:1170px;
  height:891px;
}
#u16990 {
  position:absolute;
  left:2px;
  top:438px;
  width:1166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:864px;
}
#u16991 {
  position:absolute;
  left:50px;
  top:2090px;
  width:1170px;
  height:864px;
}
#u16992 {
  position:absolute;
  left:2px;
  top:424px;
  width:1166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:107px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u16993 {
  position:absolute;
  left:80px;
  top:1043px;
  width:373px;
  height:107px;
  font-size:16px;
  color:#FFFFFF;
}
#u16994 {
  position:absolute;
  left:10px;
  top:10px;
  width:353px;
  word-wrap:break-word;
}
#u16995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:220px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u16995 {
  position:absolute;
  left:611px;
  top:1680px;
  width:506px;
  height:220px;
  font-size:16px;
  color:#FFFFFF;
}
#u16996 {
  position:absolute;
  left:10px;
  top:10px;
  width:486px;
  word-wrap:break-word;
}
#u16997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:107px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u16997 {
  position:absolute;
  left:744px;
  top:0px;
  width:373px;
  height:107px;
  font-size:16px;
  color:#FFFFFF;
}
#u16998 {
  position:absolute;
  left:10px;
  top:10px;
  width:353px;
  word-wrap:break-word;
}
#u16999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:107px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u16999 {
  position:absolute;
  left:270px;
  top:250px;
  width:373px;
  height:107px;
  font-size:16px;
  color:#FFFFFF;
}
#u17000 {
  position:absolute;
  left:10px;
  top:10px;
  width:353px;
  word-wrap:break-word;
}
#u17001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:217px;
}
#u17001 {
  position:absolute;
  left:885px;
  top:320px;
  width:223px;
  height:217px;
}
#u17002 {
  position:absolute;
  left:2px;
  top:100px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:72px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u17003 {
  position:absolute;
  left:885px;
  top:547px;
  width:263px;
  height:72px;
  font-size:16px;
  color:#FFFFFF;
}
#u17004 {
  position:absolute;
  left:10px;
  top:10px;
  width:243px;
  word-wrap:break-word;
}
#u17005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:107px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u17005 {
  position:absolute;
  left:847px;
  top:723px;
  width:373px;
  height:107px;
  font-size:16px;
  color:#FFFFFF;
}
#u17006 {
  position:absolute;
  left:10px;
  top:10px;
  width:353px;
  word-wrap:break-word;
}
#u17007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:642px;
}
#u17007 {
  position:absolute;
  left:-5px;
  top:3048px;
  width:1279px;
  height:642px;
}
#u17008 {
  position:absolute;
  left:2px;
  top:313px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:72px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u17009 {
  position:absolute;
  left:898px;
  top:3110px;
  width:376px;
  height:72px;
  font-size:16px;
  color:#FFFFFF;
}
#u17010 {
  position:absolute;
  left:10px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u17011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:58px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u17011 {
  position:absolute;
  left:700px;
  top:3452px;
  width:376px;
  height:58px;
  font-size:16px;
  color:#FFFFFF;
}
#u17012 {
  position:absolute;
  left:10px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
