﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:567px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:101px;
}
#u3475 {
  position:absolute;
  left:10px;
  top:10px;
  width:567px;
  height:101px;
}
#u3476 {
  position:absolute;
  left:2px;
  top:42px;
  width:563px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:289px;
}
#u3477 {
  position:absolute;
  left:10px;
  top:121px;
  width:405px;
  height:289px;
}
#u3478 {
  position:absolute;
  left:2px;
  top:136px;
  width:401px;
  visibility:hidden;
  word-wrap:break-word;
}
