﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9601 {
  position:absolute;
  left:0px;
  top:559px;
  width:1300px;
  height:657px;
  overflow:hidden;
}
#u9601_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:657px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:url('../../images/导航详情/u5638_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u9601_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9602_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:548px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9602 {
  position:absolute;
  left:51px;
  top:625px;
  width:1187px;
  height:548px;
}
#u9603 {
  position:absolute;
  left:2px;
  top:266px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9604 {
  position:absolute;
  left:0px;
  top:559px;
  width:1300px;
  height:66px;
  overflow:hidden;
}
#u9604_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:66px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u9604_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9605 {
  position:absolute;
  left:0px;
  top:188px;
  width:1300px;
  height:371px;
  overflow:hidden;
}
#u9605_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:371px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:url('../../images/专利导航分析/u5437_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u9605_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9606 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:36px;
  overflow:hidden;
}
#u9606_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u9606_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9607 {
  position:absolute;
  left:999px;
  top:11px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u9608 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u9609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u9609 {
  position:absolute;
  left:1035px;
  top:12px;
  width:1px;
  height:13px;
}
#u9610 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9611 {
  position:absolute;
  left:1051px;
  top:11px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u9612 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9613 {
  position:absolute;
  left:51px;
  top:11px;
  width:119px;
  height:14px;
  font-size:12px;
}
#u9614 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u9615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9615 {
  position:absolute;
  left:1124px;
  top:11px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u9616 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9617 {
  position:absolute;
  left:1189px;
  top:11px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u9618 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u9619 {
  position:absolute;
  left:1114px;
  top:12px;
  width:1px;
  height:13px;
}
#u9620 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u9621 {
  position:absolute;
  left:1180px;
  top:12px;
  width:1px;
  height:13px;
}
#u9622 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9623 {
  position:absolute;
  left:51px;
  top:52px;
  width:62px;
  height:62px;
  color:#FFFFFF;
}
#u9624 {
  position:absolute;
  left:2px;
  top:24px;
  width:58px;
  word-wrap:break-word;
}
#u9625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u9625 {
  position:absolute;
  left:121px;
  top:59px;
  width:111px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u9626 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u9627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u9627 {
  position:absolute;
  left:121px;
  top:87px;
  width:148px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u9628 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u9629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u9629 {
  position:absolute;
  left:307px;
  top:69px;
  width:71px;
  height:29px;
  font-size:24px;
  color:#666666;
}
#u9630 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u9631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9631 {
  position:absolute;
  left:735px;
  top:76px;
  width:365px;
  height:40px;
}
#u9632 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u9633 {
  position:absolute;
  left:1071px;
  top:89px;
  width:15px;
  height:15px;
}
#u9634 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u9635 {
  position:absolute;
  left:758px;
  top:86px;
  width:124px;
  height:20px;
  color:#C9C9C9;
}
#u9636 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u9637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4FACF2;
}
#u9637 {
  position:absolute;
  left:760px;
  top:51px;
  width:30px;
  height:18px;
  color:#4FACF2;
}
#u9638 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:2px;
}
#u9639 {
  position:absolute;
  left:758px;
  top:72px;
  width:30px;
  height:1px;
}
#u9640 {
  position:absolute;
  left:2px;
  top:-8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9641 {
  position:absolute;
  left:810px;
  top:51px;
  width:59px;
  height:18px;
}
#u9642 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9643 {
  position:absolute;
  left:888px;
  top:51px;
  width:30px;
  height:18px;
}
#u9644 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9645 {
  position:absolute;
  left:937px;
  top:51px;
  width:30px;
  height:18px;
}
#u9646 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9647 {
  position:absolute;
  left:987px;
  top:51px;
  width:30px;
  height:18px;
}
#u9648 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9649 {
  position:absolute;
  left:0px;
  top:1216px;
  width:1300px;
  height:280px;
  overflow:hidden;
}
#u9649_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:280px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
}
#u9649_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:280px;
}
#u9650 {
  position:absolute;
  left:50px;
  top:1216px;
  width:1200px;
  height:280px;
}
#u9651 {
  position:absolute;
  left:2px;
  top:132px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9652 {
  position:absolute;
  left:0px;
  top:127px;
}
#u9652_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9652_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9653 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  overflow:hidden;
}
#u9653_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u9653_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u9654 {
  position:absolute;
  left:50px;
  top:0px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u9654_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u9654.mouseOver {
}
#u9655 {
  position:absolute;
  left:2px;
  top:19px;
  width:136px;
  word-wrap:break-word;
}
#u9656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u9656 {
  position:absolute;
  left:190px;
  top:0px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u9656_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u9656.mouseOver {
}
#u9657 {
  position:absolute;
  left:2px;
  top:19px;
  width:136px;
  word-wrap:break-word;
}
#u9658 {
  position:absolute;
  left:694px;
  top:216px;
  width:407px;
  height:39px;
}
#u9658_input {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:39px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9659 {
  position:absolute;
  left:51px;
  top:224px;
  width:222px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u9660 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u9661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:261px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9661 {
  position:absolute;
  left:51px;
  top:273px;
  width:1187px;
  height:261px;
}
#u9662 {
  position:absolute;
  left:2px;
  top:122px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9663 {
  position:absolute;
  left:83px;
  top:297px;
  width:87px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9664 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u9665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u9665 {
  position:absolute;
  left:185px;
  top:293px;
  width:47px;
  height:26px;
  font-size:14px;
  color:#FFFFFF;
}
#u9666 {
  position:absolute;
  left:2px;
  top:5px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9667 {
  position:absolute;
  left:193px;
  top:297px;
  width:30px;
  height:18px;
  color:#FFFFFF;
}
#u9668 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9669 {
  position:absolute;
  left:73px;
  top:354px;
}
#u9669_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9669_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9670 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:127px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9671 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:127px;
}
#u9672 {
  position:absolute;
  left:2px;
  top:56px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9673 {
  position:absolute;
  left:16px;
  top:11px;
  width:87px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9674 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u9675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9675 {
  position:absolute;
  left:87px;
  top:53px;
  width:53px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9676 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u9677 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:127px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9678 {
  position:absolute;
  left:261px;
  top:0px;
  width:233px;
  height:127px;
}
#u9679 {
  position:absolute;
  left:2px;
  top:56px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9680 {
  position:absolute;
  left:277px;
  top:11px;
  width:87px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9681 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u9682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9682 {
  position:absolute;
  left:356px;
  top:53px;
  width:43px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9683 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u9684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9684 {
  position:absolute;
  left:590px;
  top:11px;
  width:68px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9685 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u9686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9686 {
  position:absolute;
  left:590px;
  top:42px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9687 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9688 {
  position:absolute;
  left:590px;
  top:72px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9689 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9690 {
  position:absolute;
  left:590px;
  top:102px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9691 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9692 {
  position:absolute;
  left:934px;
  top:11px;
  width:45px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9693 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u9694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9694 {
  position:absolute;
  left:1013px;
  top:11px;
  width:57px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9695 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u9696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9696 {
  position:absolute;
  left:938px;
  top:42px;
  width:27px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9697 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9698 {
  position:absolute;
  left:938px;
  top:72px;
  width:27px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9699 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9700 {
  position:absolute;
  left:938px;
  top:102px;
  width:27px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9701 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9702 {
  position:absolute;
  left:1011px;
  top:42px;
  width:40px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9703 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9704 {
  position:absolute;
  left:1011px;
  top:72px;
  width:40px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9705 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9706 {
  position:absolute;
  left:1011px;
  top:102px;
  width:40px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9707 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:218px;
  background:-webkit-linear-gradient(270deg, rgba(255, 102, 102, 1) 0%, rgba(255, 102, 102, 1) 0%, rgba(255, 204, 204, 1) 100%, rgba(255, 204, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 102, 102, 1) 0%, rgba(255, 102, 102, 1) 0%, rgba(255, 204, 204, 1) 100%, rgba(255, 204, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 102, 102, 1) 0%, rgba(255, 102, 102, 1) 0%, rgba(255, 204, 204, 1) 100%, rgba(255, 204, 204, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u9708 {
  position:absolute;
  left:786px;
  top:-59px;
  width:21px;
  height:218px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:12px;
  color:#CCCCCC;
}
#u9709 {
  position:absolute;
  left:2px;
  top:101px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:142px;
  background:-webkit-linear-gradient(270deg, rgba(0, 102, 204, 1) 0%, rgba(0, 102, 204, 1) 0%, rgba(0, 153, 255, 1) 100%, rgba(0, 153, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 102, 204, 1) 0%, rgba(0, 102, 204, 1) 0%, rgba(0, 153, 255, 1) 100%, rgba(0, 153, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 102, 204, 1) 0%, rgba(0, 102, 204, 1) 0%, rgba(0, 153, 255, 1) 100%, rgba(0, 153, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u9710 {
  position:absolute;
  left:749px;
  top:8px;
  width:21px;
  height:142px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:12px;
  color:#CCCCCC;
}
#u9711 {
  position:absolute;
  left:2px;
  top:63px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:122px;
  background:-webkit-linear-gradient(270deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(51, 255, 255, 1) 100%, rgba(51, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(51, 255, 255, 1) 100%, rgba(51, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(51, 255, 255, 1) 100%, rgba(51, 255, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u9712 {
  position:absolute;
  left:739px;
  top:48px;
  width:21px;
  height:122px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:12px;
  color:#CCCCCC;
}
#u9713 {
  position:absolute;
  left:2px;
  top:53px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:12px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u9714 {
  position:absolute;
  left:0px;
  top:115px;
  width:227px;
  height:12px;
  font-size:14px;
  color:#FFFFFF;
}
#u9715 {
  position:absolute;
  left:2px;
  top:-2px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9669_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u9669_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9716 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:127px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9717 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:127px;
}
#u9718 {
  position:absolute;
  left:2px;
  top:56px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9719 {
  position:absolute;
  left:16px;
  top:11px;
  width:87px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9720 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u9721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9721 {
  position:absolute;
  left:87px;
  top:53px;
  width:53px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9722 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u9723 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:127px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9724 {
  position:absolute;
  left:261px;
  top:0px;
  width:233px;
  height:127px;
}
#u9725 {
  position:absolute;
  left:2px;
  top:56px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9726 {
  position:absolute;
  left:277px;
  top:11px;
  width:87px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9727 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u9728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9728 {
  position:absolute;
  left:356px;
  top:53px;
  width:43px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9729 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u9730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9730 {
  position:absolute;
  left:590px;
  top:11px;
  width:68px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9731 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u9732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9732 {
  position:absolute;
  left:590px;
  top:42px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9733 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9734 {
  position:absolute;
  left:590px;
  top:72px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9735 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9736 {
  position:absolute;
  left:590px;
  top:102px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9737 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9738 {
  position:absolute;
  left:934px;
  top:11px;
  width:45px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9739 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u9740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9740 {
  position:absolute;
  left:1013px;
  top:11px;
  width:57px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9741 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u9742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9742 {
  position:absolute;
  left:938px;
  top:42px;
  width:27px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9743 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9744 {
  position:absolute;
  left:938px;
  top:72px;
  width:27px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9745 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9746 {
  position:absolute;
  left:938px;
  top:102px;
  width:20px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9747 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u9748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9748 {
  position:absolute;
  left:1011px;
  top:42px;
  width:40px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9749 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9750 {
  position:absolute;
  left:1011px;
  top:72px;
  width:40px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9751 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u9752 {
  position:absolute;
  left:1011px;
  top:102px;
  width:40px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u9753 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:218px;
  background:-webkit-linear-gradient(270deg, rgba(255, 102, 102, 1) 0%, rgba(255, 102, 102, 1) 0%, rgba(255, 204, 204, 1) 100%, rgba(255, 204, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 102, 102, 1) 0%, rgba(255, 102, 102, 1) 0%, rgba(255, 204, 204, 1) 100%, rgba(255, 204, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 102, 102, 1) 0%, rgba(255, 102, 102, 1) 0%, rgba(255, 204, 204, 1) 100%, rgba(255, 204, 204, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u9754 {
  position:absolute;
  left:786px;
  top:-59px;
  width:21px;
  height:218px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:12px;
  color:#CCCCCC;
}
#u9755 {
  position:absolute;
  left:2px;
  top:101px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:100px;
  background:-webkit-linear-gradient(270deg, rgba(0, 102, 204, 1) 0%, rgba(0, 102, 204, 1) 0%, rgba(0, 153, 255, 1) 100%, rgba(0, 153, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 102, 204, 1) 0%, rgba(0, 102, 204, 1) 0%, rgba(0, 153, 255, 1) 100%, rgba(0, 153, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 102, 204, 1) 0%, rgba(0, 102, 204, 1) 0%, rgba(0, 153, 255, 1) 100%, rgba(0, 153, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u9756 {
  position:absolute;
  left:728px;
  top:29px;
  width:21px;
  height:100px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:12px;
  color:#CCCCCC;
}
#u9757 {
  position:absolute;
  left:2px;
  top:42px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(51, 255, 255, 1) 100%, rgba(51, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(51, 255, 255, 1) 100%, rgba(51, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(51, 204, 204, 1) 0%, rgba(51, 204, 204, 1) 0%, rgba(51, 255, 255, 1) 100%, rgba(51, 255, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u9758 {
  position:absolute;
  left:703px;
  top:84px;
  width:21px;
  height:50px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:12px;
  color:#CCCCCC;
}
#u9759 {
  position:absolute;
  left:2px;
  top:17px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:12px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u9760 {
  position:absolute;
  left:261px;
  top:115px;
  width:233px;
  height:12px;
  font-size:14px;
  color:#FFFFFF;
}
#u9761 {
  position:absolute;
  left:2px;
  top:-2px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9762 {
  position:absolute;
  left:73px;
  top:498px;
  width:59px;
  height:18px;
}
#u9763 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:33px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u9764 {
  position:absolute;
  left:623px;
  top:578px;
  width:117px;
  height:33px;
  font-size:14px;
  color:#FFFFFF;
}
#u9765 {
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9766 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:39px;
  background:inherit;
  background-color:rgba(47, 114, 209, 1);
  border:none;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9767 {
  position:absolute;
  left:1101px;
  top:216px;
  width:137px;
  height:39px;
  color:#FFFFFF;
}
#u9768 {
  position:absolute;
  left:2px;
  top:12px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9769 {
  position:absolute;
  left:1159px;
  top:225px;
  width:22px;
  height:22px;
}
#u9770 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u9771 {
  position:absolute;
  left:253px;
  top:585px;
  width:102px;
  height:18px;
  color:#1E1E1E;
}
#u9772 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u9773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9773 {
  position:absolute;
  left:438px;
  top:585px;
  width:87px;
  height:18px;
}
#u9774 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u9775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9775 {
  position:absolute;
  left:83px;
  top:585px;
  width:87px;
  height:18px;
}
#u9776 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u9777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1116px;
  height:404px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9777 {
  position:absolute;
  left:92px;
  top:720px;
  width:1116px;
  height:404px;
}
#u9778 {
  position:absolute;
  left:2px;
  top:194px;
  width:1112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9779 {
  position:absolute;
  left:93px;
  top:655px;
  width:159px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9780 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u9781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:993px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9781 {
  position:absolute;
  left:93px;
  top:686px;
  width:993px;
  height:18px;
}
#u9782 {
  position:absolute;
  left:0px;
  top:0px;
  width:993px;
  word-wrap:break-word;
}
#u9783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9783 {
  position:absolute;
  left:638px;
  top:585px;
  width:87px;
  height:18px;
  color:#FFFFFF;
}
#u9784 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u9785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9785 {
  position:absolute;
  left:796px;
  top:585px;
  width:116px;
  height:18px;
}
#u9786 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u9787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:344px;
}
#u9787 {
  position:absolute;
  left:113px;
  top:758px;
  width:1068px;
  height:344px;
}
#u9788 {
  position:absolute;
  left:2px;
  top:164px;
  width:1064px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:35px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u9789 {
  position:absolute;
  left:863px;
  top:292px;
  width:162px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u9790 {
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
#u9791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:35px;
  background:inherit;
  background-color:rgba(47, 114, 209, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u9791 {
  position:absolute;
  left:1035px;
  top:292px;
  width:162px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u9792 {
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
#u9793 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9794 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:28px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u9795 {
  position:absolute;
  left:289px;
  top:220px;
  width:196px;
  height:28px;
  font-size:14px;
  color:#FFFFFF;
}
#u9796 {
  position:absolute;
  left:2px;
  top:6px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9797 {
  position:absolute;
  left:305px;
  top:226px;
  width:128px;
  height:18px;
  color:#FFFFFF;
}
#u9798 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u9799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u9799 {
  position:absolute;
  left:452px;
  top:226px;
  width:18px;
  height:18px;
}
#u9800 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:359px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u9801 {
  position:absolute;
  left:180px;
  top:147px;
  width:589px;
  height:359px;
  font-size:14px;
  color:#FFFFFF;
}
#u9802 {
  position:absolute;
  left:2px;
  top:40px;
  width:585px;
  word-wrap:break-word;
}
