body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-11px;
  width:764px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:468px;
}
#u3148 {
  position:absolute;
  left:11px;
  top:20px;
  width:609px;
  height:468px;
}
#u3149 {
  position:absolute;
  left:2px;
  top:226px;
  width:605px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:120px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3150 {
  position:absolute;
  left:11px;
  top:510px;
  width:609px;
  height:120px;
}
#u3151 {
  position:absolute;
  left:10px;
  top:10px;
  width:589px;
  word-wrap:break-word;
}
#u3152 {
  position:absolute;
  left:11px;
  top:640px;
  width:769px;
  height:75px;
}
#u3153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u3153 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u3154 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  word-wrap:break-word;
}
#u3155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u3155 {
  position:absolute;
  left:45px;
  top:0px;
  width:145px;
  height:30px;
}
#u3156 {
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  word-wrap:break-word;
}
#u3157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u3157 {
  position:absolute;
  left:190px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3158 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u3159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u3159 {
  position:absolute;
  left:285px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3160 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u3161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u3161 {
  position:absolute;
  left:380px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3162 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u3163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u3163 {
  position:absolute;
  left:475px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3164 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u3165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u3165 {
  position:absolute;
  left:570px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3166 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u3167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u3167 {
  position:absolute;
  left:665px;
  top:0px;
  width:99px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3168 {
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u3169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u3169 {
  position:absolute;
  left:0px;
  top:30px;
  width:45px;
  height:40px;
}
#u3170 {
  position:absolute;
  left:2px;
  top:12px;
  width:41px;
  word-wrap:break-word;
}
#u3171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u3171 {
  position:absolute;
  left:45px;
  top:30px;
  width:145px;
  height:40px;
}
#u3172 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  word-wrap:break-word;
}
#u3173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u3173 {
  position:absolute;
  left:190px;
  top:30px;
  width:95px;
  height:40px;
}
#u3174 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u3175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u3175 {
  position:absolute;
  left:285px;
  top:30px;
  width:95px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3176 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  word-wrap:break-word;
}
#u3177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u3177 {
  position:absolute;
  left:380px;
  top:30px;
  width:95px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3178 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  word-wrap:break-word;
}
#u3179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u3179 {
  position:absolute;
  left:475px;
  top:30px;
  width:95px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3180 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  word-wrap:break-word;
}
#u3181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u3181 {
  position:absolute;
  left:570px;
  top:30px;
  width:95px;
  height:40px;
}
#u3182 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  word-wrap:break-word;
}
#u3183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u3183 {
  position:absolute;
  left:665px;
  top:30px;
  width:99px;
  height:40px;
}
#u3184 {
  position:absolute;
  left:2px;
  top:11px;
  width:95px;
  word-wrap:break-word;
}
#u3185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:120px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3185 {
  position:absolute;
  left:11px;
  top:730px;
  width:609px;
  height:120px;
}
#u3186 {
  position:absolute;
  left:10px;
  top:10px;
  width:589px;
  word-wrap:break-word;
}
