﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-11px;
  width:764px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:468px;
}
#u3432 {
  position:absolute;
  left:11px;
  top:20px;
  width:609px;
  height:468px;
}
#u3433 {
  position:absolute;
  left:2px;
  top:226px;
  width:605px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:120px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3434 {
  position:absolute;
  left:11px;
  top:510px;
  width:609px;
  height:120px;
}
#u3435 {
  position:absolute;
  left:10px;
  top:10px;
  width:589px;
  word-wrap:break-word;
}
#u3436 {
  position:absolute;
  left:11px;
  top:640px;
  width:769px;
  height:75px;
}
#u3437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u3437 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u3438 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  word-wrap:break-word;
}
#u3439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u3439 {
  position:absolute;
  left:45px;
  top:0px;
  width:145px;
  height:30px;
}
#u3440 {
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  word-wrap:break-word;
}
#u3441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u3441 {
  position:absolute;
  left:190px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3442 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u3443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u3443 {
  position:absolute;
  left:285px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3444 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u3445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u3445 {
  position:absolute;
  left:380px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3446 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u3447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u3447 {
  position:absolute;
  left:475px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3448 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u3449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u3449 {
  position:absolute;
  left:570px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3450 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u3451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u3451 {
  position:absolute;
  left:665px;
  top:0px;
  width:99px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3452 {
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u3453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u3453 {
  position:absolute;
  left:0px;
  top:30px;
  width:45px;
  height:40px;
}
#u3454 {
  position:absolute;
  left:2px;
  top:12px;
  width:41px;
  word-wrap:break-word;
}
#u3455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u3455 {
  position:absolute;
  left:45px;
  top:30px;
  width:145px;
  height:40px;
}
#u3456 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  word-wrap:break-word;
}
#u3457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u3457 {
  position:absolute;
  left:190px;
  top:30px;
  width:95px;
  height:40px;
}
#u3458 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u3459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u3459 {
  position:absolute;
  left:285px;
  top:30px;
  width:95px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3460 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  word-wrap:break-word;
}
#u3461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u3461 {
  position:absolute;
  left:380px;
  top:30px;
  width:95px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3462 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  word-wrap:break-word;
}
#u3463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u3463 {
  position:absolute;
  left:475px;
  top:30px;
  width:95px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3464 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  word-wrap:break-word;
}
#u3465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u3465 {
  position:absolute;
  left:570px;
  top:30px;
  width:95px;
  height:40px;
}
#u3466 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  word-wrap:break-word;
}
#u3467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u3467 {
  position:absolute;
  left:665px;
  top:30px;
  width:99px;
  height:40px;
}
#u3468 {
  position:absolute;
  left:2px;
  top:11px;
  width:95px;
  word-wrap:break-word;
}
#u3469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:120px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3469 {
  position:absolute;
  left:11px;
  top:730px;
  width:609px;
  height:120px;
}
#u3470 {
  position:absolute;
  left:10px;
  top:10px;
  width:589px;
  word-wrap:break-word;
}
