body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1282px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:373px;
}
#u800 {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:373px;
}
#u801 {
  position:absolute;
  left:2px;
  top:178px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1276px;
  height:346px;
}
#u802 {
  position:absolute;
  left:3px;
  top:383px;
  width:1276px;
  height:346px;
}
#u803 {
  position:absolute;
  left:2px;
  top:165px;
  width:1272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:395px;
}
#u804 {
  position:absolute;
  left:3px;
  top:739px;
  width:1279px;
  height:395px;
}
#u805 {
  position:absolute;
  left:2px;
  top:190px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:647px;
}
#u806 {
  position:absolute;
  left:3px;
  top:1103px;
  width:1279px;
  height:647px;
}
#u807 {
  position:absolute;
  left:2px;
  top:316px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
