﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1282px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:373px;
}
#u3479 {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:373px;
}
#u3480 {
  position:absolute;
  left:2px;
  top:178px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1276px;
  height:346px;
}
#u3481 {
  position:absolute;
  left:3px;
  top:383px;
  width:1276px;
  height:346px;
}
#u3482 {
  position:absolute;
  left:2px;
  top:165px;
  width:1272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:395px;
}
#u3483 {
  position:absolute;
  left:3px;
  top:739px;
  width:1279px;
  height:395px;
}
#u3484 {
  position:absolute;
  left:2px;
  top:190px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:647px;
}
#u3485 {
  position:absolute;
  left:3px;
  top:1103px;
  width:1279px;
  height:647px;
}
#u3486 {
  position:absolute;
  left:2px;
  top:316px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
