body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1282px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:373px;
}
#u3277 {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:373px;
}
#u3278 {
  position:absolute;
  left:2px;
  top:178px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1276px;
  height:346px;
}
#u3279 {
  position:absolute;
  left:3px;
  top:383px;
  width:1276px;
  height:346px;
}
#u3280 {
  position:absolute;
  left:2px;
  top:165px;
  width:1272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:395px;
}
#u3281 {
  position:absolute;
  left:3px;
  top:739px;
  width:1279px;
  height:395px;
}
#u3282 {
  position:absolute;
  left:2px;
  top:190px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:647px;
}
#u3283 {
  position:absolute;
  left:3px;
  top:1103px;
  width:1279px;
  height:647px;
}
#u3284 {
  position:absolute;
  left:2px;
  top:316px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
