body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12007 {
  position:absolute;
  left:0px;
  top:288px;
  width:1300px;
  height:1213px;
  overflow:hidden;
}
#u12007_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:1213px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:url('../../images/导航详情/u5367_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u12007_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12008 {
  position:absolute;
  left:0px;
  top:288px;
  width:1300px;
  height:66px;
  overflow:hidden;
}
#u12008_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:66px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u12008_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12009 {
  position:absolute;
  left:0px;
  top:188px;
  width:1300px;
  height:100px;
  overflow:hidden;
}
#u12009_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:url('../../images/专利导航分析/u5166_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u12009_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12010 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:36px;
  overflow:hidden;
}
#u12010_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u12010_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12011 {
  position:absolute;
  left:999px;
  top:11px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u12012 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u12013 {
  position:absolute;
  left:1035px;
  top:12px;
  width:1px;
  height:13px;
}
#u12014 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12015 {
  position:absolute;
  left:1051px;
  top:11px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u12016 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12017 {
  position:absolute;
  left:51px;
  top:11px;
  width:119px;
  height:14px;
  font-size:12px;
}
#u12018 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u12019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12019 {
  position:absolute;
  left:1124px;
  top:11px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u12020 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12021 {
  position:absolute;
  left:1189px;
  top:11px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u12022 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u12023 {
  position:absolute;
  left:1180px;
  top:12px;
  width:1px;
  height:13px;
}
#u12024 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12025 {
  position:absolute;
  left:51px;
  top:52px;
  width:62px;
  height:62px;
  color:#FFFFFF;
}
#u12026 {
  position:absolute;
  left:2px;
  top:24px;
  width:58px;
  word-wrap:break-word;
}
#u12027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u12027 {
  position:absolute;
  left:121px;
  top:59px;
  width:111px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u12028 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u12029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u12029 {
  position:absolute;
  left:121px;
  top:87px;
  width:148px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u12030 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u12031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u12031 {
  position:absolute;
  left:307px;
  top:69px;
  width:97px;
  height:29px;
  font-size:24px;
  color:#666666;
}
#u12032 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12033 {
  position:absolute;
  left:735px;
  top:76px;
  width:365px;
  height:40px;
}
#u12034 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12035 {
  position:absolute;
  left:1071px;
  top:89px;
  width:15px;
  height:15px;
}
#u12036 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u12037 {
  position:absolute;
  left:758px;
  top:86px;
  width:124px;
  height:20px;
  color:#C9C9C9;
}
#u12038 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u12039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4FACF2;
}
#u12039 {
  position:absolute;
  left:760px;
  top:51px;
  width:30px;
  height:18px;
  color:#4FACF2;
}
#u12040 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:2px;
}
#u12041 {
  position:absolute;
  left:758px;
  top:72px;
  width:30px;
  height:1px;
}
#u12042 {
  position:absolute;
  left:2px;
  top:-8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12043 {
  position:absolute;
  left:810px;
  top:51px;
  width:59px;
  height:18px;
}
#u12044 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12045 {
  position:absolute;
  left:888px;
  top:51px;
  width:30px;
  height:18px;
}
#u12046 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12047 {
  position:absolute;
  left:937px;
  top:51px;
  width:30px;
  height:18px;
}
#u12048 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12049 {
  position:absolute;
  left:987px;
  top:51px;
  width:30px;
  height:18px;
}
#u12050 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12051 {
  position:absolute;
  left:0px;
  top:1501px;
  width:1300px;
  height:280px;
  overflow:hidden;
}
#u12051_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:280px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
}
#u12051_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:280px;
}
#u12052 {
  position:absolute;
  left:50px;
  top:1501px;
  width:1200px;
  height:280px;
}
#u12053 {
  position:absolute;
  left:2px;
  top:132px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12054 {
  position:absolute;
  left:694px;
  top:216px;
  width:407px;
  height:39px;
}
#u12054_input {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:39px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:39px;
  background:inherit;
  background-color:rgba(47, 114, 209, 1);
  border:none;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12056 {
  position:absolute;
  left:1101px;
  top:216px;
  width:137px;
  height:39px;
  color:#FFFFFF;
}
#u12057 {
  position:absolute;
  left:2px;
  top:12px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u12058 {
  position:absolute;
  left:1159px;
  top:225px;
  width:22px;
  height:22px;
}
#u12059 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12060 {
  position:absolute;
  left:51px;
  top:224px;
  width:111px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12061 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u12062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12062 {
  position:absolute;
  left:51px;
  top:354px;
  width:1187px;
  height:94px;
}
#u12063 {
  position:absolute;
  left:2px;
  top:39px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12064 {
  position:absolute;
  left:73px;
  top:390px;
  width:259px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12065 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u12066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12066 {
  position:absolute;
  left:937px;
  top:392px;
  width:91px;
  height:18px;
}
#u12067 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399CC;
}
#u12068 {
  position:absolute;
  left:151px;
  top:314px;
  width:59px;
  height:18px;
  color:#3399CC;
}
#u12069 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12070 {
  position:absolute;
  left:83px;
  top:314px;
  width:30px;
  height:18px;
}
#u12071 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12072 {
  position:absolute;
  left:49px;
  top:1410px;
  width:1187px;
  height:52px;
}
#u12073 {
  position:absolute;
  left:2px;
  top:17px;
  width:1183px;
  word-wrap:break-word;
}
#u12074 {
  position:absolute;
  left:0px;
  top:127px;
}
#u12074_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12074_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12075 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  overflow:hidden;
}
#u12075_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u12075_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u12076 {
  position:absolute;
  left:50px;
  top:0px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u12076_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u12076.mouseOver {
}
#u12077 {
  position:absolute;
  left:2px;
  top:19px;
  width:136px;
  word-wrap:break-word;
}
#u12078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12078 {
  position:absolute;
  left:51px;
  top:448px;
  width:1187px;
  height:94px;
}
#u12079 {
  position:absolute;
  left:2px;
  top:39px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12080 {
  position:absolute;
  left:73px;
  top:484px;
  width:259px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12081 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u12082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12082 {
  position:absolute;
  left:937px;
  top:486px;
  width:91px;
  height:18px;
}
#u12083 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12084 {
  position:absolute;
  left:51px;
  top:542px;
  width:1187px;
  height:94px;
}
#u12085 {
  position:absolute;
  left:2px;
  top:39px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12086 {
  position:absolute;
  left:73px;
  top:578px;
  width:259px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12087 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u12088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12088 {
  position:absolute;
  left:937px;
  top:580px;
  width:91px;
  height:18px;
}
#u12089 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12090 {
  position:absolute;
  left:51px;
  top:636px;
  width:1187px;
  height:94px;
}
#u12091 {
  position:absolute;
  left:2px;
  top:39px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12092 {
  position:absolute;
  left:73px;
  top:672px;
  width:259px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12093 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u12094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12094 {
  position:absolute;
  left:937px;
  top:674px;
  width:91px;
  height:18px;
}
#u12095 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12096 {
  position:absolute;
  left:51px;
  top:730px;
  width:1187px;
  height:94px;
}
#u12097 {
  position:absolute;
  left:2px;
  top:39px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12098 {
  position:absolute;
  left:73px;
  top:766px;
  width:259px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12099 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u12100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12100 {
  position:absolute;
  left:937px;
  top:768px;
  width:91px;
  height:18px;
}
#u12101 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12102 {
  position:absolute;
  left:51px;
  top:824px;
  width:1187px;
  height:94px;
}
#u12103 {
  position:absolute;
  left:2px;
  top:39px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12104 {
  position:absolute;
  left:73px;
  top:860px;
  width:259px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12105 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u12106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12106 {
  position:absolute;
  left:937px;
  top:862px;
  width:91px;
  height:18px;
}
#u12107 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12108 {
  position:absolute;
  left:51px;
  top:918px;
  width:1187px;
  height:94px;
}
#u12109 {
  position:absolute;
  left:2px;
  top:39px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12110 {
  position:absolute;
  left:73px;
  top:954px;
  width:259px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12111 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u12112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12112 {
  position:absolute;
  left:937px;
  top:956px;
  width:91px;
  height:18px;
}
#u12113 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12114 {
  position:absolute;
  left:51px;
  top:1012px;
  width:1187px;
  height:94px;
}
#u12115 {
  position:absolute;
  left:2px;
  top:39px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12116 {
  position:absolute;
  left:73px;
  top:1048px;
  width:259px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12117 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u12118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12118 {
  position:absolute;
  left:937px;
  top:1050px;
  width:91px;
  height:18px;
}
#u12119 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12120 {
  position:absolute;
  left:51px;
  top:1106px;
  width:1187px;
  height:94px;
}
#u12121 {
  position:absolute;
  left:2px;
  top:39px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12122 {
  position:absolute;
  left:73px;
  top:1142px;
  width:259px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12123 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u12124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12124 {
  position:absolute;
  left:937px;
  top:1144px;
  width:91px;
  height:18px;
}
#u12125 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12126 {
  position:absolute;
  left:51px;
  top:1200px;
  width:1187px;
  height:94px;
}
#u12127 {
  position:absolute;
  left:2px;
  top:39px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12128 {
  position:absolute;
  left:73px;
  top:1236px;
  width:259px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12129 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u12130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12130 {
  position:absolute;
  left:937px;
  top:1238px;
  width:91px;
  height:18px;
}
#u12131 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12132 {
  position:absolute;
  left:51px;
  top:1294px;
  width:1187px;
  height:94px;
}
#u12133 {
  position:absolute;
  left:2px;
  top:39px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12134 {
  position:absolute;
  left:73px;
  top:1330px;
  width:259px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12135 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u12136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12136 {
  position:absolute;
  left:937px;
  top:1332px;
  width:91px;
  height:18px;
}
#u12137 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
