body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10082 {
  position:absolute;
  left:0px;
  top:188px;
  width:1300px;
  height:901px;
  overflow:hidden;
}
#u10082_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:901px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:url('../../images/查询列表/u9912_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u10082_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10083 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:36px;
  overflow:hidden;
}
#u10083_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u10083_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u10084 {
  position:absolute;
  left:999px;
  top:11px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u10085 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u10086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u10086 {
  position:absolute;
  left:1035px;
  top:12px;
  width:1px;
  height:13px;
}
#u10087 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u10088 {
  position:absolute;
  left:1051px;
  top:11px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u10089 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u10090 {
  position:absolute;
  left:51px;
  top:11px;
  width:119px;
  height:14px;
  font-size:12px;
}
#u10091 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u10092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u10092 {
  position:absolute;
  left:1124px;
  top:11px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u10093 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u10094 {
  position:absolute;
  left:1189px;
  top:11px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u10095 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u10096 {
  position:absolute;
  left:1114px;
  top:12px;
  width:1px;
  height:13px;
}
#u10097 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u10098 {
  position:absolute;
  left:1180px;
  top:12px;
  width:1px;
  height:13px;
}
#u10099 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10100 {
  position:absolute;
  left:51px;
  top:52px;
  width:62px;
  height:62px;
  color:#FFFFFF;
}
#u10101 {
  position:absolute;
  left:2px;
  top:24px;
  width:58px;
  word-wrap:break-word;
}
#u10102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u10102 {
  position:absolute;
  left:121px;
  top:59px;
  width:111px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u10103 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u10104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u10104 {
  position:absolute;
  left:121px;
  top:87px;
  width:148px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u10105 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u10106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#666666;
}
#u10106 {
  position:absolute;
  left:307px;
  top:69px;
  width:169px;
  height:29px;
  font-size:24px;
  color:#666666;
}
#u10107 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u10108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10108 {
  position:absolute;
  left:735px;
  top:76px;
  width:365px;
  height:40px;
}
#u10109 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u10110 {
  position:absolute;
  left:1071px;
  top:89px;
  width:15px;
  height:15px;
}
#u10111 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u10112 {
  position:absolute;
  left:758px;
  top:86px;
  width:124px;
  height:20px;
  color:#C9C9C9;
}
#u10113 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u10114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4FACF2;
}
#u10114 {
  position:absolute;
  left:760px;
  top:51px;
  width:30px;
  height:18px;
  color:#4FACF2;
}
#u10115 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:2px;
}
#u10116 {
  position:absolute;
  left:758px;
  top:72px;
  width:30px;
  height:1px;
}
#u10117 {
  position:absolute;
  left:2px;
  top:-8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10118 {
  position:absolute;
  left:810px;
  top:51px;
  width:59px;
  height:18px;
}
#u10119 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10120 {
  position:absolute;
  left:888px;
  top:51px;
  width:30px;
  height:18px;
}
#u10121 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10122 {
  position:absolute;
  left:937px;
  top:51px;
  width:30px;
  height:18px;
}
#u10123 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10124 {
  position:absolute;
  left:987px;
  top:51px;
  width:30px;
  height:18px;
}
#u10125 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10126 {
  position:absolute;
  left:0px;
  top:1089px;
  width:1300px;
  height:280px;
  overflow:hidden;
}
#u10126_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:280px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
}
#u10126_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:280px;
}
#u10127 {
  position:absolute;
  left:50px;
  top:1089px;
  width:1200px;
  height:280px;
}
#u10128 {
  position:absolute;
  left:2px;
  top:132px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10129 {
  position:absolute;
  left:0px;
  top:127px;
}
#u10129_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10129_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10130 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  overflow:hidden;
}
#u10130_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u10130_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u10131 {
  position:absolute;
  left:50px;
  top:0px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u10131_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u10131.mouseOver {
}
#u10132 {
  position:absolute;
  left:2px;
  top:19px;
  width:136px;
  word-wrap:break-word;
}
#u10133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:44px;
  background:inherit;
  background-color:rgba(47, 114, 209, 1);
  border:none;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10133 {
  position:absolute;
  left:1141px;
  top:204px;
  width:97px;
  height:44px;
  color:#FFFFFF;
}
#u10134 {
  position:absolute;
  left:2px;
  top:14px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10135 {
  position:absolute;
  left:852px;
  top:204px;
  width:289px;
  height:44px;
}
#u10135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:44px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u10136 {
  position:absolute;
  left:1178px;
  top:214px;
  width:23px;
  height:23px;
}
#u10137 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10138 {
  position:absolute;
  left:51px;
  top:215px;
  width:111px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10139 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u10140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u10140 {
  position:absolute;
  left:51px;
  top:266px;
  width:1187px;
  height:188px;
}
#u10141 {
  position:absolute;
  left:2px;
  top:86px;
  width:1183px;
  word-wrap:break-word;
}
#u10142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10142 {
  position:absolute;
  left:82px;
  top:292px;
  width:222px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10143 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u10144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u10144 {
  position:absolute;
  left:82px;
  top:415px;
  width:264px;
  height:18px;
  color:#666666;
}
#u10145 {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  white-space:nowrap;
}
#u10146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u10146 {
  position:absolute;
  left:82px;
  top:359px;
  width:120px;
  height:18px;
  color:#666666;
}
#u10147 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
}
#u10148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u10148 {
  position:absolute;
  left:82px;
  top:387px;
  width:184px;
  height:18px;
  color:#666666;
}
#u10149 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u10150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u10150 {
  position:absolute;
  left:82px;
  top:331px;
  width:279px;
  height:18px;
  color:#666666;
}
#u10151 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  white-space:nowrap;
}
#u10152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:563px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u10152 {
  position:absolute;
  left:51px;
  top:464px;
  width:1187px;
  height:563px;
}
#u10153 {
  position:absolute;
  left:2px;
  top:274px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10154_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:151px;
  height:5px;
}
#u10154 {
  position:absolute;
  left:51px;
  top:186px;
  width:148px;
  height:2px;
}
#u10155 {
  position:absolute;
  left:2px;
  top:-7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:34px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u10156 {
  position:absolute;
  left:101px;
  top:484px;
  width:131px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u10157 {
  position:absolute;
  left:2px;
  top:9px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u10158 {
  position:absolute;
  left:272px;
  top:492px;
  width:59px;
  height:18px;
  text-align:center;
}
#u10159 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u10160 {
  position:absolute;
  left:405px;
  top:492px;
  width:59px;
  height:18px;
  text-align:center;
}
#u10161 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u10162 {
  position:absolute;
  left:539px;
  top:492px;
  width:59px;
  height:18px;
  text-align:center;
}
#u10163 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u10164 {
  position:absolute;
  left:492px;
  top:331px;
  width:1px;
  height:18px;
  color:#666666;
}
#u10165 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u10166 {
  position:absolute;
  left:138px;
  top:492px;
  width:59px;
  height:18px;
  color:#FFFFFF;
  text-align:center;
}
#u10167 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1188px;
  height:2px;
}
#u10168 {
  position:absolute;
  left:51px;
  top:536px;
  width:1187px;
  height:1px;
}
#u10169 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:472px;
}
#u10170 {
  position:absolute;
  left:166px;
  top:547px;
  width:963px;
  height:472px;
}
#u10171 {
  position:absolute;
  left:2px;
  top:228px;
  width:959px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:35px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u10172 {
  position:absolute;
  left:1011px;
  top:320px;
  width:162px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u10173 {
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
#u10174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:35px;
  background:inherit;
  background-color:rgba(47, 114, 209, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u10174 {
  position:absolute;
  left:1011px;
  top:365px;
  width:162px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u10175 {
  position:absolute;
  left:2px;
  top:8px;
  width:158px;
  word-wrap:break-word;
}
#u10176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1126px;
  height:517px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u10176 {
  position:absolute;
  left:87px;
  top:433px;
  width:1126px;
  height:517px;
  font-size:18px;
  color:#FFFFFF;
}
#u10177 {
  position:absolute;
  left:2px;
  top:246px;
  width:1122px;
  word-wrap:break-word;
}
