﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1299px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:2771px;
}
#u4038 {
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:2771px;
}
#u4039 {
  position:absolute;
  left:2px;
  top:1378px;
  width:1295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#5FA4C6;
}
#u4040 {
  position:absolute;
  left:963px;
  top:208px;
  width:65px;
  height:15px;
  font-size:13px;
  color:#5FA4C6;
}
#u4041 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
}
#u4042 {
  position:absolute;
  left:970px;
  top:168px;
  width:109px;
  height:34px;
  font-size:12px;
  color:#FFFFFF;
}
#u4043 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u4044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 102, 204, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4044 {
  position:absolute;
  left:706px;
  top:378px;
  width:100px;
  height:31px;
  color:#FFFFFF;
}
#u4045 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u4046 {
  position:fixed;
  left:50%;
  margin-left:-477.5px;
  top:50%;
  margin-top:-261.5px;
  visibility:hidden;
}
#u4046_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4046_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:523px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4047 {
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:523px;
}
#u4048 {
  position:absolute;
  left:2px;
  top:254px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u4049 {
  position:absolute;
  left:905px;
  top:21px;
  width:22px;
  height:19px;
}
#u4050 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4051 {
  position:absolute;
  left:16px;
  top:22px;
  width:59px;
  height:18px;
  color:#666666;
}
#u4052 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:912px;
  height:2px;
}
#u4053 {
  position:absolute;
  left:16px;
  top:54px;
  width:911px;
  height:1px;
}
#u4054 {
  position:absolute;
  left:2px;
  top:-8px;
  width:907px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:36px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4055 {
  position:absolute;
  left:396px;
  top:319px;
  width:146px;
  height:36px;
  color:#FFFFFF;
}
#u4056 {
  position:absolute;
  left:2px;
  top:9px;
  width:142px;
  word-wrap:break-word;
}
#u4057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:182px;
}
#u4057 {
  position:absolute;
  left:378px;
  top:108px;
  width:182px;
  height:182px;
}
#u4058 {
  position:absolute;
  left:2px;
  top:83px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4059 {
  position:absolute;
  left:204px;
  top:204px;
  width:548px;
  height:19px;
  font-size:16px;
}
#u4060 {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  white-space:nowrap;
}
#u4046_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4046_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:523px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4061 {
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:523px;
}
#u4062 {
  position:absolute;
  left:2px;
  top:254px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u4063 {
  position:absolute;
  left:905px;
  top:21px;
  width:22px;
  height:19px;
}
#u4064 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4065 {
  position:absolute;
  left:16px;
  top:22px;
  width:59px;
  height:18px;
  color:#666666;
}
#u4066 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:912px;
  height:2px;
}
#u4067 {
  position:absolute;
  left:16px;
  top:54px;
  width:911px;
  height:1px;
}
#u4068 {
  position:absolute;
  left:2px;
  top:-8px;
  width:907px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:65px;
}
#u4069 {
  position:absolute;
  left:447px;
  top:168px;
  width:62px;
  height:65px;
}
#u4070 {
  position:absolute;
  left:2px;
  top:24px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u4071 {
  position:absolute;
  left:306px;
  top:274px;
  width:344px;
  height:18px;
  text-align:center;
}
#u4072 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  white-space:nowrap;
}
#u4073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF3333;
}
#u4073 {
  position:absolute;
  left:387px;
  top:400px;
  width:222px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF3333;
}
#u4074 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u4075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4075 {
  position:absolute;
  left:348px;
  top:397px;
  width:25px;
  height:25px;
}
#u4076 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:63px;
}
#u4077 {
  position:absolute;
  left:714px;
  top:305px;
  width:170px;
  height:63px;
  font-size:12px;
  color:#FFFFFF;
}
#u4078 {
  position:absolute;
  left:2px;
  top:11px;
  width:166px;
  word-wrap:break-word;
}
