body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1299px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:2771px;
}
#u1684 {
  position:absolute;
  left:0px;
  top:0px;
  width:1299px;
  height:2771px;
}
#u1685 {
  position:absolute;
  left:2px;
  top:1378px;
  width:1295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#5FA4C6;
}
#u1686 {
  position:absolute;
  left:963px;
  top:208px;
  width:65px;
  height:15px;
  font-size:13px;
  color:#5FA4C6;
}
#u1687 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
}
#u1688 {
  position:absolute;
  left:970px;
  top:168px;
  width:109px;
  height:34px;
  font-size:12px;
  color:#FFFFFF;
}
#u1689 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u1690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 102, 204, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1690 {
  position:absolute;
  left:706px;
  top:378px;
  width:100px;
  height:31px;
  color:#FFFFFF;
}
#u1691 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1692 {
  position:fixed;
  left:50%;
  margin-left:-477.5px;
  top:50%;
  margin-top:-261.5px;
  visibility:hidden;
}
#u1692_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1692_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:523px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1693 {
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:523px;
}
#u1694 {
  position:absolute;
  left:2px;
  top:254px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u1695 {
  position:absolute;
  left:905px;
  top:21px;
  width:22px;
  height:19px;
}
#u1696 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1697 {
  position:absolute;
  left:16px;
  top:22px;
  width:59px;
  height:18px;
  color:#666666;
}
#u1698 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:912px;
  height:2px;
}
#u1699 {
  position:absolute;
  left:16px;
  top:54px;
  width:911px;
  height:1px;
}
#u1700 {
  position:absolute;
  left:2px;
  top:-8px;
  width:907px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:36px;
  background:inherit;
  background-color:rgba(79, 172, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1701 {
  position:absolute;
  left:396px;
  top:319px;
  width:146px;
  height:36px;
  color:#FFFFFF;
}
#u1702 {
  position:absolute;
  left:2px;
  top:9px;
  width:142px;
  word-wrap:break-word;
}
#u1703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:182px;
}
#u1703 {
  position:absolute;
  left:378px;
  top:108px;
  width:182px;
  height:182px;
}
#u1704 {
  position:absolute;
  left:2px;
  top:83px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1705 {
  position:absolute;
  left:204px;
  top:204px;
  width:548px;
  height:19px;
  font-size:16px;
}
#u1706 {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  white-space:nowrap;
}
#u1692_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1692_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:523px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1707 {
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:523px;
}
#u1708 {
  position:absolute;
  left:2px;
  top:254px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u1709 {
  position:absolute;
  left:905px;
  top:21px;
  width:22px;
  height:19px;
}
#u1710 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1711 {
  position:absolute;
  left:16px;
  top:22px;
  width:59px;
  height:18px;
  color:#666666;
}
#u1712 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:912px;
  height:2px;
}
#u1713 {
  position:absolute;
  left:16px;
  top:54px;
  width:911px;
  height:1px;
}
#u1714 {
  position:absolute;
  left:2px;
  top:-8px;
  width:907px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:65px;
}
#u1715 {
  position:absolute;
  left:447px;
  top:168px;
  width:62px;
  height:65px;
}
#u1716 {
  position:absolute;
  left:2px;
  top:24px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1717 {
  position:absolute;
  left:306px;
  top:274px;
  width:344px;
  height:18px;
  text-align:center;
}
#u1718 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  white-space:nowrap;
}
#u1719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF3333;
}
#u1719 {
  position:absolute;
  left:387px;
  top:400px;
  width:222px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF3333;
}
#u1720 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u1721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1721 {
  position:absolute;
  left:348px;
  top:397px;
  width:25px;
  height:25px;
}
#u1722 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:63px;
}
#u1723 {
  position:absolute;
  left:714px;
  top:305px;
  width:170px;
  height:63px;
  font-size:12px;
  color:#FFFFFF;
}
#u1724 {
  position:absolute;
  left:2px;
  top:11px;
  width:166px;
  word-wrap:break-word;
}
